{% extends 'base.html.twig' %}

{% block title %}Liste de Formations{% endblock %}

{% block body %}

<h1>FORMATIONS<h1>

<table>
<thead>

    <th>Titre de Formation</th>
    <th>Sessions en cours</th>
    <th>Sessions passées</th>
    <th>Sessions à venir</th>
    
</thead>

<tbody>

{% for formation in formations %}

<tr>
    <td> {{formation}} </td>
    <td> {% for session in formation.sessions %}
            {% if "now"|date("U") >= session.dateDebut|date("U")  and "now"|date("U") <= session.dateFin|date("U") %}
                <a href="{{path('show_session', {id: session.id})}}">{{session}}</a>
            {% endif %}     
        
        {% endfor %}
    </td>
    <td>{% for session in formation.sessions %}
            {% if "now"|date("U") > session.dateFin|date("U")   %}
                <a href="{{path('show_session', {id: session.id})}}">{{session}}</a>
            {% endif %}     
        
        {% endfor %}</td>
    <td>{% for session in formation.sessions %}
            {% if "now"|date("U") < session.dateDebut|date("U") %}
                <a href="{{path('show_session', {id: session.id})}}">{{session}}</a>
            {% endif %}     
        
        {% endfor %} </td>

</tr>

{% endfor %}

</tbody>

</table>


{% endblock %}