{% extends 'base.html.twig' %}

{% block title %}Liste de Formations{% endblock %}

{% block body %}

<h1>FORMATIONS<h1>

<table>
<thead>

    <th>Titre de Formation</th>
    <th>Sessions en cours</th>
    <th>Sessions passées</th>
    <th>Sessions à venir</th>
    
</thead>

<tbody>

{% for formation in formations %}

<tr>
    <td> {{formation}} </td>
    <td> {% for session in formation.sessions %}
        {% if session.dateDebut %}{% endif %}
        
    {% endfor %}</td>
    <td>{{ stagiaire.ville }}</td>
    <td>{{ stagiaire.email }} </td>
    <td>{{ stagiaire.telephone }}</td>
    <td>
    {% if is_granted('ROLE_ADMIN') %}
    
    <a href="{{path('remove_stagiaire', {id: stagiaire.id})}} "><i class="fa fa-remove" aria-hidden="true" style="color:#BA1200"></i></a>
    {% endif %}
    </td>
<tr>

{% endfor %}

</tbody>

</table>

{% endblock %}