{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<h1>Accueil</h1>

<br>

<h2> Bienvenue, user </h2>

<br>

<br>

<table>
    <caption>Sessions en cours</caption>
    <thead>
        <th>Statut</th>
        <th>Formation</th>
        <th>Session</th>
        <th>Date de debut</th>
        <th>Date de fin</th>
        <th>Inscrits</th>
        <th>Action</th>
    </thead>
    <tbody>    
{% for current_session in  current_sessions %}

    <tr>
        <td>{% if current_session.stagiaire|length == current_session.nbrePlaces %}
        SESSION COMPLETE
        {% endif %}
        </td>
        <td><a href="{{path('app_formation')}}">{{ current_session.formation }}</a> </td>
        <td><a href="{{path('show_session', {id: current_session.id})}}"> {{ current_session }}</a></td>
        <td>{{ current_session.dateDebut|date("d/m/Y") }} </td>
        <td>{{ current_session.dateFin|date("d/m/Y") }} </td>
        <td>{{ current_session.stagiaire|length}}/ {{ current_session.nbrePlaces}} </td>
        <td>
        {% if is_granted('ROLE_ADMIN') %}
        
        <a href="{{ ea_url()
        .setController('App\\Controller\\Admin\\SessionCrudController')
        .setAction('edit')
        .setEntityId(current_session.id)}}"><i class="fa fa-edit" aria-hidden="true" style="color:#FF9505"></i> </a> 

        {% endif %}
         </td> 
    </tr>

{% endfor %}
    </tbody>
</table>

<br>

<table>
    <caption>Sessions à venir</caption>
    <thead>
        <th>Statut</th>
        <th>Formation</th>
        <th>Session</th>
        <th>Date de debut</th>
        <th>Date de fin</th>
        <th>Inscrits</th>
        <th>Action</th>
    </thead>  
    <tbody>  
{% for future_session in  future_sessions %}

    <tr>
        <td>{% if future_session.stagiaire|length == future_session.nbrePlaces %}
        SESSION COMPLETE
        {% endif %}
        </td>
        <td><a href="{{path('app_formation')}}">{{ future_session.formation }}</a> </td>
        <td><a href="{{path('show_session', {id: future_session.id})}}"> {{ future_session }}</a></td>
        <td>{{ future_session.dateDebut|date("d/m/Y") }} </td>
        <td>{{ future_session.dateFin|date("d/m/Y") }} </td>
        <td>{{ future_session.stagiaire|length}}/ {{ future_session.nbrePlaces}} </td>
        <td>
        {% if is_granted('ROLE_ADMIN') %}
        
        <a href="{{ ea_url()
        .setController('App\\Controller\\Admin\\SessionCrudController')
        .setAction('edit')
        .setEntityId(future_session.id)}}"><i class="fa fa-edit" aria-hidden="true" style="color:#FF9505"></i> </a> 

        {% endif %}
        </td> 
    </tr>

{% endfor %}
    </tbody>

</table>

<br> 

<table>
    <caption>Sessions passées</caption>
    <thead>
        <th>Statut</th>
        <th>Formation</th>
        <th>Session</th>
        <th>Date de debut</th>
        <th>Date de fin</th>
        <th>Inscrits</th>
        <th>Action</th>
    </thead> 
    <tbody>    
{% for past_session in  past_sessions %}

    <tr>
        <td>{% if past_session.stagiaire|length == past_session.nbrePlaces %}
        SESSION COMPLETE
        {% endif %}
        </td>
        <td><a href="{{path('app_formation')}}">{{ past_session.formation }}</a> </td>
        <td><a href="{{path('show_session', {id: past_session.id})}}"> {{ past_session }}</a> </td>
        <td>{{ past_session.dateDebut|date("d/m/Y") }} </td>
        <td>{{ past_session.dateFin|date("d/m/Y") }} </td>
        <td>{{ past_session.stagiaire|length}}/ {{ past_session.nbrePlaces}} </td>
        <td>
        {% if is_granted('ROLE_ADMIN') %}
        
        <a href="{{ ea_url()
        .setController('App\\Controller\\Admin\\SessionCrudController')
        .setAction('edit')
        .setEntityId(past_session.id)}}"><i class="fa fa-edit" aria-hidden="true" style="color:#FF9505"></i> </a> 

        {% endif %}
        </td> 
    </tr>

{% endfor %}
    </tbody>

</table>

<br>






{% endblock %}
