{% extends 'base.html.twig' %}

{% block title %}Liste de Stagiaires{% endblock %}

{% block body %}

<h1>STAGIAIRES<h1>

<table>
<thead>

    <th>NOM</th>
    <th>Prénom</th>
    <th>Ville</th>
    <th>Email</th>
    <th>Téléphone</th>
    <th>Supprimer</th>

</thead>

<tbody>

{% for stagiaire in stagiaires %}

<tr>
    <td><a href="{{path('show_stagiaire', {id: stagiaire.id})}}">{{ stagiaire.nom|upper }}</a></td>
    <td>{{ stagiaire.prenom }}</td>
    <td>{{ stagiaire.ville }}</td>
    <td>{{ stagiaire.email }} </td>
    <td>{{ stagiaire.telephone }}</td>
    <td>
    {% if is_granted('ROLE_ADMIN') %}
    
    <a href="{{path('remove_stagiaire', {id: stagiaire.id})}} "><i class="fa fa-remove" aria-hidden="true"></i></a>
    {% endif %}
    </td>
<tr>

{% endfor %}

</tbody>

</table>

{% endblock %}
