{% extends 'base.html.twig' %}

{% block title %}Session {{ session }} {% endblock %}

{% block body %}

<h1>{{ session }} </h1>

<div class="description">

<p class="formateur" >Formateur référent : <a href="{{path('show_formateur', {id: session.formateur.id})}}">{{ session.formateur}}</a></p>

<p>Date de début: {{ session.dateDebut|date("d/m/Y") }}</p>

<p>Date de fin: {{ session.dateFin|date("d/m/Y") }}</p>

<p>Nombre de places: {{ session.nbrePlaces }}</p>

<p>Nombre de places disponibles: {{ session.nbrePlaces - session.stagiaire|length}}</p>

<p>Nombre de modules: {{ session.programmes|length }}</p>
</div>

<div class="tables_description">
<table class="session_description">
<caption>Stagiaires inscrits</caption>
    <thead>
        <th>Stagiaire</th>
        <th>Désinscrire</th>
    </thead>
    <tbody>

    {% for stagiaire in session.stagiaire %}

    <tr>
        <td><a href="{{path('show_stagiaire', {id: stagiaire.id})}}">{{stagiaire}}</a></td>
        <td>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ ea_url()
            .setController('App\\Controller\\Admin\\SessionCrudController')
            .setAction('edit')
            .setEntityId(session.id)}}"><i class="fa fa-remove" aria-hidden="true" style="color:#BA1200"></i> 
        {% endif %}    
        </td>
    </tr>
        
    {% endfor %}
    </tbody>
</table>

<table class="session_description_right">
<caption> Programme </caption>
    <thead>
        <th>Module</th>
        <th>Catégorie</th>
        <th>Durée</th>
        <th>Déprogrammer</th>
    </thead>
    <tbody>

    {% for module in session.programmes %}

    <tr>
        <td>{{module.cours}}</td>
        <td>{{module.cours.categorie}} </td>
        <td class="duree">{{module.duree}}</td>
        <td>{% if is_granted('ROLE_ADMIN') %}
            <a href="{{path('remove_programme', {id: session.id, id_programme: module.id})}}"><i class="fa fa-remove" aria-hidden="true" style="color:#BA1200"></i> 
        {% endif %} </td>
    </tr>
        
    {% endfor %}
    </tbody>
</table>

<table class="session_description">
<caption>Stagiaires non inscrits</caption>
    <thead>
        <th>Stagiaire</th>
        <th>Inscrire</th>
    </thead>
    <tbody>

    {% for stagiaire in stagiaires %}

    <tr>
        <td><a href="{{path('show_stagiaire', {id: stagiaire.id})}}">{{stagiaire}}</a></td>
        <td>{% if is_granted('ROLE_ADMIN') %}
            <a href="{{ ea_url()
            .setController('App\\Controller\\Admin\\SessionCrudController')
            .setAction('edit')
            .setEntityId(session.id)}}"><i class="fa fa-plus" aria-hidden="true" style="color:#239F5B"></i> 
        {% endif %} </td>
    </tr>
        
    {% endfor %}
    </tbody>
</table>  

<table class="session_description_right">
<caption> Modules non programées </caption>
    <thead>
        <th>Module</th>
        <th>Catégorie</th>
        <th>Programmer</th>
    </thead>
    <tbody>

    {% for module in cours %}

    <tr>
        <td>{{module}}</td>
        <td>{{module.categorie}} </td>
        <td> {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ea_url()
            .setController('App\\Controller\\Admin\\ProgrammeCrudController')
            .setAction('new')}}"><i class="fa fa-plus" aria-hidden="true" style="color:#239F5B"></i></a>
            {% endif %}</td>
        
    </tr>
        
    {% endfor %}
    </tbody>
</table>


</div>


{% endblock %}